$themes: (
  light: (
    bg-0: #f9f9f9,
    button-0: #f9f9f9,
    button-1: #f3f3f3,
    button-2: rgba(0, 0, 0, 0.2),
    button-3: #dddddd,
    button-4: rgb(107, 107, 107),
    input-0: rgba(176, 176, 176, 0.32),
    input-1: rgba(176, 176, 176, 0.521),
    input-2: rgba(51, 51, 51, 0.486),
    input-3: rgba(176, 176, 176),
    input-4: rgb(216, 216, 216),
    input-5: rgb(100, 100, 100),
    input-6: rgb(221, 221, 221),
    input-7: rgb(100, 100, 100),
    input-8: rgb(39, 39, 39),
    div-0: rgba(229, 229, 229, 0.7),
    div-1: #a4d168b6,
    div-2: rgba(230, 230, 230, 0.7),
    div-3: rgba(0, 0, 0, 0.13),
    div-4: rgb(136, 136, 136),
    div-text0: rgba(138, 138, 138, 0.836),
    div-text1: rgba(0, 0, 0, 0.356),
    text-0: rgba(0, 0, 0, 0.315),
    text-1: rgba(0, 0, 0, 0.322),
    text-2: rgba(0, 0, 0, 0.575),
    text-3: rgba(51, 51, 51, 0.842),
    text-4: #cdcdcd,
    text-5: rgba(0, 0, 0, 0.32),
    text-6: rgba(29, 29, 29, 0.37),
    text-7: rgba(0, 0, 0, 0.411),
    text-8: rgb(209, 209, 209),
    text-start-0: #161616,
    text-start-1: #616161,
    icon-0: rgb(31, 31, 31),
    icon-1: rgba(31, 31, 31, 0.336),
    icon-2: rgba(0, 0, 0, 0.13),
    layers-title-bg: rgba(229, 229, 229),
  ),
  dark: (
    bg-0: #252525,
    button-0: #252525,
    button-1: #4e4e4e,
    button-2: rgb(148, 148, 148),
    button-3: #4e4e4e,
    button-4: rgb(196, 196, 196),
    input-0: rgba(176, 176, 176, 0.32),
    input-1: rgba(176, 176, 176, 0.521),
    input-2: rgba(51, 51, 51, 0.486),
    input-3: rgb(121, 121, 121),
    input-4: rgba(176, 176, 176),
    input-5: rgb(216, 216, 216),
    input-6: rgb(206, 206, 206),
    input-7: rgb(83, 83, 83),
    input-8: rgb(243, 243, 243),
    div-0: rgba(176, 176, 176, 0.32),
    div-1: #a4d168b6,
    div-2: rgba(176, 176, 176, 0.164),
    div-3: rgba(139, 139, 139, 0.144),
    div-4: rgb(150, 150, 150),
    div-text0: rgba(231, 231, 231, 0.836),
    div-text1: rgb(43, 49, 35),
    text-0: rgba(231, 231, 231, 0.836),
    text-1: rgba(231, 231, 231, 0.836),
    text-2: rgba(0, 0, 0, 0.575),
    text-3: rgba(51, 51, 51, 0.842),
    text-4: #cdcdcd,
    text-5: #dfdfdf,
    text-6: rgba(231, 231, 231, 0.486),
    text-7: rgba(139, 139, 139, 0.541),
    text-8: rgba(31, 31, 31, 0.89),
    text-start-0: #dedede,
    text-start-1: #989898,
    icon-0: rgba(204, 204, 204, 0.897),
    icon-1: rgba(129, 129, 129, 0.589),
    icon-2: rgba(176, 176, 176, 0.164),
    layers-title-bg: rgb(109, 109, 109),
  ),
);
