@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary-font: 'Noto Sans', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$inter-font: 'Inter', sans-serif;
