$height: 100% !default;
$width: 100% !default;

$contrast-warnings: true !default;
$primary-color: null !default;
$secondary-color: null !default;
$warning-color: null !default;
$alert-color: null !default;
$success-color: null !default;
