@use '../abstracts' as *;

.start--wrapper {
  @include themify($themes) {
    width: 100%;
    height: 100%;
    background: themed(bg-0);
    transition: 0.2s linear;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .start-header-wrapper {
      width: 100%;
      height: 3.7em;
      background: themed(bg-0);
      transition: 0.2s linear;
      position: fixed;
      z-index: 2000;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      .header-content {
        color: #a3d168;
        max-width: 59.37rem;
        margin: 0 auto;
        width: 100%;
        padding: 0.5em 0.7em;
        @include flexCenter(row, 0px);
        justify-content: space-between;
        .header-logo-wrapper {
          @include flexCenter(row, 0.2em);
          .header-logo-icon-wrapper {
            max-width: 100%;
            min-width: 1rem;
            width: 100%;
            .header-logo-icon {
              width: 100%;
              height: 100%;
              @include flexCenter(row, 0.2em);
            }
          }
        }
        .header-buttons-wrapper {
          @include flexCenter(row, 1em);
        }
      }
    }
    .start-main-wrapper {
      width: 100%;
      transition: 0.2s linear;
      padding-top: 3.7rem;
      background: themed(bg-0);
      .main-banner-wrapper {
        width: 100%;
        height: 25rem;
        position: relative;
        z-index: 1000;
        .banner-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          z-index: 1000;
        }
        .banner-gradient {
          display: none;

          @include media($from: 'md') {
            display: block;
          }
          position: absolute;
          width: 100%;
          height: 100%;
          max-height: 100%;
          max-width: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.54) 0%,
            rgba(217, 217, 217, 0) 100%
          );
        }
      }
      .main-content-wrapper {
        z-index: 2000 !important;
        margin: 0 auto;
        max-width: 59.37rem;
        padding: 1em 0.7em;
        padding-bottom: 2rem;
        @include flexCenter(column, 0.5em);
        justify-content: space-between;
        @include media($from: 'md') {
          flex-direction: row;
        }
        .content-info-wrapper {
          @include flexCenter(column, 0.5em);
          align-items: flex-start;
        }

        .content-ilus-wrapper {
          @include media($from: 'md') {
            max-width: 25rem;
          }
          max-width: 20rem;
          width: 100%;
          padding: 1em 0.7em;
          .ilus-image {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .footer-wrapper {
      padding: 3rem 0 0.3rem 0;
      width: 100%;
      @include flexCenter(column, 0.5em);
      justify-content: flex-end;
      background: #161616;
      @include media($from: 'md') {
        padding: 5rem 0 0.3rem 0;
      }
    }
  }
}

.header--wrapper {
  @include themify($themes) {
    @include flexCenter(row, 0.2em);
    background: themed(bg-0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 3.2rem;
    padding: 0.1em;
    z-index: 2;
    box-shadow: 0 0.06rem 0.4rem rgba(0, 0, 0, 0.25);
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    @include media($from: 'sm') {
      z-index: 1002;
    }
  }
}

.main-editor--wrapper {
  @include themify($themes) {
    height: 100%;
    max-height: 100%;
    width: 100%;
    background-color: themed(bg-0);
  }
}

.map--wrapper {
  cursor: grab;
  width: 100%;
  position: fixed;
  top: 3.2rem;
  right: 0;
  left: 0;
  height: 130vw;
  z-index: 1;
  @include media($from: 'sm') {
    height: 100%;
    margin-left: calc(18.75rem);
    width: calc(100% - 18.75rem);
  }
}

.map-controls--wrapper {
  position: fixed;
  right: 0.5rem;
  top: 4rem;
  padding-left: 0.8rem;
  padding-bottom: 0.5rem;
  padding-top: 0.3rem;
  @include flexCenter(column, 0.5rem);
  z-index: 1000;
  @media (max-height: 374px) {
    @include flexCenter(row, 0.5rem);
    padding: 0 !important;
  }
}

.picker-wrapper {
  @include themify($themes) {
    .picker-header-wrapper {
      @include flexCenter(row, 0.5rem);
      width: 100%;
      height: 100%;
      .picker-close {
        right: auto;
        left: 0;
        border-radius: 10px 0px 10px 0;
        padding: 0.8rem;
      }
    }

    background-color: themed(bg-0);
    padding-top: 2rem;
    position: fixed;
    right: 3.5rem;
    top: 13.5rem;
    z-index: 1000;
    border-radius: 10px;
    @media (max-height: 522px) {
      top: 3.7rem;
    }
    @media (max-height: 374px) {
      right: auto;
      left: 21rem;
    }
    .sketch-picker {
      background-color: themed(bg-0) !important;
      box-shadow: none !important;
    }
  }
}

.contributors-wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.26);
  padding: 0.1em 0.7em;
  margin-right: 3.4rem;
  border-radius: 10px;
  z-index: 1001;
  color: white;
  gap: 0.4em;
  top: 3.7rem;
  left: 2rem;
  font-family: $primary-font;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  flex-wrap: wrap;
  @include media($from: 'sm') {
    left: 21rem;
  }
  .contributors-link {
    color: white;
    text-decoration: underline;
  }
}

.editor--wrapper {
  @include themify($themes) {
    z-index: 1001;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    padding-top: 0.5rem;
    box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.1);
    background: themed(bg-0);
    position: relative;
    margin-top: calc(130vw + 3.2rem);
    width: 100%;
    overflow-y: scroll;
    @include media($from: 'sm') {
      position: absolute;
      max-width: 18.75rem;
      left: 0;
      top: 0;
      margin-top: 3.1rem;
      height: 100%;
      z-index: 1000;
    }

    .content-arrow--wrapper {
      width: 100%;
      margin: 0.2rem auto 0.6rem;
      @include flexCenter(row, 0px);
      @include media($from: 'sm') {
        display: none;
      }
    }
    .editor-content {
      margin: 0 rem;
      @include flexCenter(column, 0px);
      .content-section {
        width: 100%;
        @include flexCenter(column, 0.6rem);
        padding: 1rem;
        border-bottom: 1px solid themed(div-3);
        &.export-section {
          border-bottom: none;
          margin-bottom: 2rem;
        }
        .content-draw--wrapper {
          @include flexCenter(row, 1rem);
        }
        .content-info--wrapper {
          @include flexCenter(row, 1rem);
          width: 100%;
          .content-info--box {
            @include flexCenter(column, 0.5rem);
            background: themed(div-2);
            border-radius: 10px;
            padding: 0.3em 0.5em;
            max-width: 100px;
            width: 100%;
            .content-info--box--title {
              @include flexCenter(row, 0.2em);
              align-items: baseline;
            }
          }
        }
        .content-layers--wrapper {
          @include flexCenter(row, 1rem);
        }
        .content-export--wrapper {
          @include flexCenter(column, 1rem);
          width: 70%;
          .content-export-download--wrapper {
            @include media($from: 'sm') {
              bottom: 19rem;
              max-width: 90%;
            }
            @include flexCenter(column, 0);
            z-index: 1005;
            position: absolute;
            bottom: 7rem;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            background: themed(div-4);
            border-radius: 10px;
            padding: 0.5rem;
            max-width: 300px;
            box-shadow: 0 0.06rem 0.4rem rgba(0, 0, 0, 0.25);
            .download-form {
              background: transparent;
              @include flexCenter(column, 0.5rem);
              width: 100%;
              height: 100%;
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}
